body {
  font-family: Arial, sans-serif;
}

.card {
  border: 1px solid #ccc;
}

header {
  background-color: #ffc500;
  padding: 2px 0px;
  margin-top: 0px 7px;
  text-align: center;
  text-transform: uppercase;
}

header h4 {
  color: #090919;
  font-family: 'Times New Roman';
  font-size: 121%;
  text-align: left;
}

#imagemDinamica {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position-y: center;
  transition: opacity 0.5s ease-in-out;
}

#imagemDinamica.hidden {
  opacity: 0;
  z-index: -1;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info {
  text-align: center;
  text-decoration: wavy;
  margin-bottom: 20px;
  padding: 10px;
  border: 0px solid #ffe2bd;
  border-radius: 5px;
}

#info h2 {
  text-align: center;
  text-decoration: underline;
}

.postStyle {
  background-color: #fff0bd;
}

.post {
  background-color: #fff3ca;
  text-align: left;
  text-decoration: wavy;
  margin-bottom: 20px;
  padding: 10px;
  border: 0px solid #ffe2bd;
  border-radius: 5px;
}

.paragrafoEstilizado {
  font-style: oblique;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.footer {
  background-color: #333;
  color: #fff;
}

.card-text {
  position: relative;
}

.hidden-content {
  display: none;
  margin-top: 10px;
}


#show-more:checked~.hidden-content {
  display: block;
  cursor: pointer;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* Espaço entre as colunas */
}

.grid-item {
  border: 1px solid #ccc;
  /* Adicione uma borda para visualização */
  padding: 10px;
  text-align: center;
}

.card-title {
  font-size: x-large;
  font-family: 'Arial Narrow Bold', monospace;
}

.custom-link {
  text-shadow: #090919;
  color: #ffc500;
  /* Cor do texto do link personalizado */
  text-decoration: none;
  /* Remove o sublinhado, se desejar */
  /* Outros estilos personalizados */
}


.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}



li a {
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
}

footer {
  text-align: center;
  background: url("/home/jair/Documentos/aluraOracle/img/bg.jpg");
  padding: 40px 0;

}

main {
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 15px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 3s all;
  cursor: pointer;
}

.enviar:hover {
  background: rgb(197, 91, 4);
  transform: rotate(3600deg) scale(1.1);

}

table {
  margin: 20px 0 40px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

@media screen and (max-width: 480px) {

  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .lista-beneficios,
  imagem-beneficios {
    width: 100%
  }
}

h1 {
  font-size: 24px;
}

.servicos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.servico {
  text-align: center;
  max-width: 300px;
  margin: 20px;
}

.servico img {
  max-width: 100%;
  /* Garante que todas as imagens tenham a mesma largura máxima */
  height: auto;
  /* Mantém a proporção da imagem */
}

h2 {
  font-size: 20px;
  margin: 10px 0;
}

p {
  font-size: 16px;
}

#sobre-nos {
  text-align: center;
  padding: 20px;
}



#nossos-servicos,
#nossos-projetos {
  padding: 20px;
}

.projeto {
  margin-bottom: 20px;
}

#depoimento {
  background-color: #f7f7f7;
  padding: 20px;
}